.header {

    &__logo {
        display: block;
        width: 55px;
        margin: 6rem auto 3rem auto;
    }

    &__title {
        margin: 0;
        text-align: center;
        font-weight: 300;
        font-size: 1.5rem;
        color: var(--neutral-gray);

        & > span {
            color: var(--very-dark-blue);
            font-weight: 700;
        }
    }

    @media screen and (min-width: 768px) {
        &__logo {
            width: 100px;
            margin: 5rem auto 3rem auto;
        }
        &__title {
            font-size: 3.2rem;
        }
    }
}