:root {
  --primary-blue: hsl(223, 87%, 63%);
  --primary-blue-rgb: 79, 125, 243;
  --secondary-pale-blue: hsl(223, 100%, 88%);
  --secondary-light-red: hsl(354, 100%, 66%);
  --neutral-gray: hsl(0, 0%, 59%);
  --neutral-gray-rgb: 150, 150, 150;
  --very-dark-blue: hsl(209, 33%, 12%);
  --font-size: 20px;
}
